# Jupyter Notebook specific files
.ipynb_checkpoints/

# Notebook metadata and outputs
*.ipynb

# Environment files
.env
*.env

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
env/